@charset "UTF-8";

div.printtext { display:block; }
span.printtext { display:inline; }
div.screentext, span.screentext { display:none; }
	
a, #mainArticle a, #biography a {
	color: rgba(0,0,0,1.00);
	border: none;
	text-decoration: none;
}
.bibliography a.discret:link:after, .bibliography a.discret:visited:after {
   content: "";
   }
#top, #socialBottom, #bottomNav, #socialTop, #mainNav, #subNav, #fr-en, .totop {
	display: none;
}
#mainArticle {
	border-bottom: thin solid #DBDBDB;
	margin-bottom: 0.2em;
	padding-bottom: 0.5em;
}
#source {
	font-size: medium;
	display: block;
	color: #666666;
}
a[href]:after { 
	content: "";
	font-size:small; 
}
a.discret:link:after, a.discret:visited:after, .logos a[href^="http"]:after, #logosbottom a[href^="http"]:after {
	content: "";
}
.logos img {
	margin-right: 0.1em;
	margin-bottom: 0.2em;
}
.logos a img {
	margin-bottom: 0.2em;
	margin-right: 0.1em;
	margin-left: 0.5em;
}
.listalpha {
	display:none;
}
audio[controls] { 
	display: none; 
}
#menulettres {	
	display:none;
}
section.issue p.eCissue {
	height: 30em;
}
.math {
	text-align: center;
	font-size: 1.1em;
	letter-spacing: 0.2em;
}