body {
	min-width:315px;
}

#mainArticle [id]:before { 
  display: block; 
  content: " "; 
  margin-top: -55px; 
  height: 55px; 
  visibility: hidden; 
}

#mainArticle .notes [id]:before { 
  content: inherit;
  margin-top: 0; 
  height: 0px; 
}

#mainArticle figure[id] { 
  margin-top: -55px; 
  padding-top: 55px;
}

#mainArticle figure[id] img.video_play {
	top:65px;
}

#mainArticle figure[id] img.video_playint {
	top:65px;
}

#scrollTitle { visibility:hidden; opacity:0; transition:visibility 0s linear 0.25s,opacity 0.25s linear; position:absolute; left:3%; bottom:-17px; font-weight:bold; color:#fff; }
#scrollTitle a, #scrollTitle a:hover, #scrollTitle a:visited  { color:#fff; text-decoration:none; border-bottom:none; }

header#top.affix { position:fixed!important; top:0px; }
header#top.affix > ul { display:none; }
header#top.affix > #mainNav { display:none; }
header#top.affix > #scrollTitle { visibility:visible; opacity:1; transition-delay:0s; }
header#top.affix {
left:5.6%; width:84.25%;
padding-left:4.5%;
margin-bottom:167.625px;
}

#subMenu #google, #subMenu #googlemobile { display:none; }

#subMenu > .mainMenu { display:none; }

a { word-wrap: break-word!important; }


article figure.video { position:relative; }

.gridContainer.affix { position:relative; margin-top:167.625px; }



@media only screen and (min-width:1389px){
	header#top.affix #subNav { 
		margin-left: 149px;
		    width: 868px;
		    padding-left: 23px;
	}
	header#top.affix{
		left:inherit;
		width: 1208px;
	  max-width: 1232px;
	  padding-left: 12px;
	  padding-right: 12px;
	  margin: auto;
	  clear: none;
	  float: none;
	}
	

}

@media only screen and (max-width: 1024px) {
	#mainArticle [id]:before { 
	  display: block; 
	  content: " "; 
	  margin-top: -120px; 
	  height: 120px; 
	  visibility: hidden; 
	}
	
	/*added by max 2016-12-05*/
	#mainArticle .footnotes[id]:before { 
	  display: inline; 
	}

	#mainArticle figure[id] { 
	  margin-top: -120px; 
	  padding-top: 120px;
	}

	#mainArticle figure[id] img.video_play {
		top:135px;
	}

	#mainArticle figure[id] img.video_playint {
		top:135px;
	}


}

@media only screen and (max-width: 769px) {
	#scrollTitle { left:-0.5%; }
	
	header#top.affix {
	left:1%; width:97.95%;
	padding-left:0;
	}
	
	.gridContainer.affix { position:relative; margin-top:157.625px; }
	
}
	
}


@media only screen and (max-width: 676px) {
	#scrollTitle { left:-1.5%; }
}

@media only screen and (max-width: 555px) {
	#scrollTitle { left:-3%; }
}

@media only screen and (max-width: 569px) {

	#scrollTitle { left:-3%; }

	header#top, header#top.affix { position:fixed!important; top:0px; left:1%; width:97.95%; padding-left:0; }
	
	.gridContainer, .gridContainer.affix { position:relative; margin-top:59px; }
	
	#subNav { height:0px; margin:0px; padding:0px; width:100%; }
	#subNav > #google, #subNav > #googlemobile { display:none; }
	#subMenu #google, #subMenu #googlemobile {
		width: 100%!important;
		margin-top: 12px!important;
		/* width: 155px; */
		margin-bottom: 5px!important;
		margin-right: 16px!important;
		max-width:100%!important;
	}
	
	
	#mainArticle [id]:before { 
	  display: block; 
	  content: " "; 
	  margin-top: -80px; 
	  height: 80px; 
	  visibility: hidden; 
	}
	
	.footnotes:before { 
	  display: inline!important; 
	}
	
	#mainArticle figure[id] { 
	  margin-top: -80px; 
	  padding-top: 80px;
	}

	#mainArticle figure[id] img.video_play {
		top:90px;
	}

	#mainArticle figure[id] img.video_playint {
		top:90px;
	}
	
	
	#mainNav { display:none!important; }

	#scrollTitle { display:none!important; }
	
	header#top.affix > ul { display:block!important; }
	
	#subNav #subMenu { overflow:hidden; width:100%; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; background-color:rgb(0, 129, 168); }
	#subNav #subMenu li { display:inline; position:relative; top:3px; white-space: nowrap; }
	
	#subNav .mainMenu li {
		margin-right:0.8em;
	}
	
	#subNav .mainMenu a, #subNav .mainMenu a:hover, #subNav .mainMenu a:visited { 
		font-size: 1.8em;
    color: #ABE7F9;
    border-style: none;
    text-decoration: none;
		font-weight:bold;
	}
	
	#subNav .subMenu a, #subNav .subMenu a:hover, #subNav .subMenu a:visited {
		font-weight:bold;
	}

	#subNav .mainMenu { margin-left:20px; padding-bottom:5px; padding-top:5px; }
	#subNav .subMenu { padding-left:5%; padding-right:5%; padding-bottom:0.2em; padding-top:0.2em; background-color: #0CA5D3; width:90%; }
	
	#subNav #subMenu.collapsing { display:none; }
	
	/*#fr-en { color: #005D91;}
	#fr-en:visited { color: #497690; }
	#fr-en:hover { color: #497690; }*/
	
	#subMenu > .mainMenu { display:block; }
	#subMenu #google, #subMenu #googlemobile { display:block; height:inherit; margin-right:13px; max-width:150px; }
}

.navbar-collapse { padding-left:0px!important; padding-right:0px!important; }

figure.video a { display:block; }
figure.video figcaption a { display:inline; }